*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* background: rgb(99,115,113); */
}
@font-face {
	font-family: 'font'; 
	src: url(../txt/18013.otf); 
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.tittle{
    font-family: 'font'; 

    font-size: 50px;
    line-height: 85px;
    text-align: center;

    color: #FFFFFF;
}
/* header */
/* .header{
    box-shadow: inset 0px 170px 30px rgba(0, 0, 0, 0.8);
    z-index: 999;
} */
.header__container{
    

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone{
    padding: 12px 16px;

    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;
}
.number{
    color: #FFFFFF;
    text-decoration:none;
}
/* promo */

.promo{
    margin-top: -141px;
    padding-top: 175px;
    background: url(../img/Ford_F150_2008_00019.jpg) no-repeat 100%;
    /* background: rgb(99,115,113); */
    /* box-shadow: inset 0px 170px 30px rgba(0, 0, 0, 0.8); */

}

.promo__tittle{
    font-family: 'font'; 
    padding-bottom: 102px;
    

    max-width: 1071px;
    width: 100%;
    color: white;
    font-size: 70px;
    line-height: 85px;
}
.promo__button{
    font-family: 'font'; 
    font-size: 25px;
    padding: 12px 16px;
    color: white;
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;

    margin-bottom: 50px;
}

/* info */
.info{
    /* background: url(../img/info__bg.PNG) bottom;
    background-size: cover; */
}
.info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info__tittle{
    color:#00040F;
    margin-bottom: 30px;
    margin-top: 60px;
}
.info__txt{
    font-size: 25px;
    width: 80%;
    text-align: justify;
    margin-bottom: 100px;
}
/* extra */
.extra{
    position: relative;
}
.slide-first{
    background: url(../img/cars/UGC_Carousel-Gardner_Nichols-desktop.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -124px 30px rgba(0, 0, 0, 0.8);
}
.slide-second{
    background: url(../img/for-catalogue/1.jpg) no-repeat center;
    background-size: cover;
}
.slide-thrith{
    background: url(../img/for-catalogue/2.jpg) no-repeat center;
    background-size: cover;
}
.extra__tittle{
    font-family: 'font'; 
    font-size: 50px;
    line-height: 85px;
    color: #FFFFFF;
    text-align: center;

    margin-bottom: 649px;
    margin-top: 60px;
}
.name-and-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.extra__name{
    margin-bottom: 30px;
    font-family: 'font'; 
    font-weight: bold;
    color: white;
    font-size: 45px;
}
.extra__button{

    font-family: 'font'; 
    color: white;
    font-size: 26px;
    
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;
}
/* .extra__button:hover{
    mix-blend-mode: multiply;
    background: white;
} */

.not-active{
    display: none;
}
.sliders__btn{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}
.slider__btn{
    width: 50px;
}
.btn__left{
    transform: rotate(180deg);
}
/* stocs */
.stocs__tittle{
    color: #354653;
    margin-top: 80px;
}
.stocs__container{
    max-width: 1257px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 145px;
}
.stocs__card{
    /* border-radius: 37px; */
    overflow: hidden;
    box-shadow: inset 0px -124px 30px rgba(0, 0, 0, 0.8);
    transition: 1s;
}
.stocs-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.stocs__half-price{
    background: url(../img/stocs/1x._cut-photo.ru.webp);
    background-size: cover;
    width: 602px;
    height: 451px;
}
.stocs__interior{
    background: url(../img/stocs/original.webp);
    background-size: cover;
    width: 602px;
    height: 451px;
}
.stocs__guarantee{
    background: url(../img/stocs/cover-1669947094.webp);
    background-size: cover;
    width: 602px;
    height: 947px;
}
/* .stocs__autopilot{
    margin-top: 45px;
    background: url(../img/stocs/4.png);
    width: 514px;
    height: 451px;
} */

.stocs__txt{
    margin-top: 378px;
    margin-left: 44px;

    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;

    transition: 1s;
}
.stocs__tittle{
    margin-bottom: 60px;
    color: #00040F;
}
.stocs__txt-big{
    margin-top: 870px;
}

.stocs__txt-inside{
    color: transparent;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 30px;
    margin-right: 45px;
}
.stocs__card:hover .stocs__txt{
    margin-top: 45px;
}

.stocs__card:hover{
    box-shadow: inset 0px -493px 30px rgba(0, 0, 0, 0.8);
}

.stocs__card:hover .stocs__txt-big{
    margin-top: 542px;
}
.stocs__card:hover .stocs__txt-inside{
    color: white
}
/* article */
.article__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article__tittle{
    color: #00040F;
    margin-bottom: 60px;
}
.article__txt{
    font-size: 25px;
    width: 80%;
    text-align: justify;

    margin-bottom: 40px;
}
.article__img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.info__second-button{
    font-family: 'font'; 
    margin-top: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;

    padding: 11px 28px;

    background: transparent;
    border: 1px solid #00040F;
    border-radius: 183px;
}


/* map */

.map{
    padding-top: 70px;
    padding-bottom: 60px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../img/map__bg.webp) 100% no-repeat;
    background-size: cover;
    
}
.map__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map__tittle{
    max-width: 757px;
    width: 100%;
}
.map__link{
    padding-top: 70px;
}
.map__txt{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

/* form */
.form{
    padding-top: 60px;
    background: url(../img/form__bg.jpg) no-repeat right center;
    background-size: 40%;
}
.form__tittle{
    font-family: 'font'; 

    font-size: 50px;
    line-height: 85px;

    margin-bottom: 60px;
    color: #00040F;
}
.form__form{
    display: flex;
    flex-direction: column;
    
}
.form__name{
    display: flex;
    justify-content: space-between;
}
.form__div{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
}
.label__name{
    font-family: 'font'; 

    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    margin-bottom: 10px;
}
.about{
    width: 652px;
    height: 100px;
    border: 1px solid #00040F;
    resize:none
}
.name{
    width: 320px;
    height: 63px;
    border: 1px solid #00040F;
}
.form__name{
    width: 651px;
}
.form__btn{
    width: 30%;

    margin-top: 30px;
    line-height: 30px;
    color: #000000;

    background: transparent;
    border: 1px solid #00040F;
    border-radius: 183px;

    font-family: 'font'; 
    font-size: 26px;
    
    padding: 15px 30px;
    border-radius: 183px;

    margin-bottom: 100px;
}

/* footer */

.footer__phone{
    border: 1px solid #00040F;
}
.footer__number{
    color: #00040F;
}