*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* background: rgb(99,115,113); */
}
@font-face {
	font-family: 'font'; 
	src: url(../txt/18013.otf); 
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.tittle{
    font-family: 'font'; 

    font-size: 50px;
    line-height: 85px;
    text-align: center;

    color: #FFFFFF;
}
/* header */
/* .header{
    box-shadow: inset 0px 170px 30px rgba(0, 0, 0, 0.8);
    z-index: 999;
} */
.header__container{
    

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone{
    padding: 12px 16px;

    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;
}
.number{
    color: #FFFFFF;
    text-decoration:none;
}
/* promo */

.promo{
    margin-top: -141px;
    padding-top: 175px;
    background: url(../img/Ford_F150_2008_00019.jpg) no-repeat 100%;
    /* background: rgb(99,115,113); */
    box-shadow: inset 0px 100px 30px rgba(0, 0, 0, 0.5);

}

.promo__tittle{
    font-family: 'font'; 
    padding-bottom: 215px;
    

    max-width: 1071px;
    width: 100%;
    color: white;
    font-size: 70px;
    line-height: 85px;
}
.promo__button{
    font-family: 'font'; 
    font-size: 25px;
    padding: 12px 16px;
    color: white;
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;

    margin-bottom: 50px;
}

/* info */
/* .info{ */
    /* background: url(../img/info__bg.PNG) bottom;
    background-size: cover; */
.info{
    padding-top: 60px;
    background: url(../img/info-bg-2.jpg) no-repeat left bottom;
    background-size: cover;
    background-size: 45%;
}

.info__container{
    margin-right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.info__tittle{
     font-family: 'font'; 

    font-size: 50px;
    max-width: 561px;
    width: 100%;
    color:#00040F;
    margin-bottom: 30px;
    margin-top: 60px;
}
.info__txt{
    font-size: 25px;
    width: 60%;
    text-align: justify;
    margin-bottom: 100px;
}
/* extra */
.extra{
    position: relative;
}
.slide-first{
    background: url(../img/cars/UGC_Carousel-Gardner_Nichols-desktop.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -124px 30px rgba(0, 0, 0, 0.8);
}
.slide-second{
    background: url(../img/for-catalogue/1.jpg) no-repeat center;
    background-size: cover;
}
.slide-thrith{
    background: url(../img/for-catalogue/2.jpg) no-repeat center;
    background-size: cover;
}
.extra__tittle{
    font-family: 'font'; 
    font-size: 50px;
    line-height: 85px;
    color: #FFFFFF;
    text-align: center;

    margin-bottom: 649px;
    margin-top: 60px;
}
.name-and-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.extra__name{
    margin-bottom: 30px;
    font-family: 'font'; 
    font-weight: bold;
    color: white;
    font-size: 45px;
}
.extra__button{
    z-index: 9999;
    font-family: 'font'; 
    color: white;
    font-size: 26px;
    
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 183px;
}
/* .extra__button:hover{
    mix-blend-mode: multiply;
    background: white;
} */

.sliders__btn{
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 0;
}
.slider__btn{
    width: 50px;
}
.btn__left{
    transform: rotate(180deg);
}
.not-active{
    display: none;
}
/* stocs */
.stocs__tittle{
    color: #354653;
    margin-top: 80px;
}
.stocs__container{
    max-width: 1257px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 145px;
}
.stocs__card{
    /* border-radius: 37px; */
    overflow: hidden;
    box-shadow: inset 0px -124px 30px rgba(0, 0, 0, 0.8);
    transition: 1s;
}
.stocs-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.stocs__half-price{
    background: url(../img/stocs/1x._cut-photo.ru.webp);
    background-size: cover;
    width: 602px;
    height: 451px;
}
.stocs__interior{
    background: url(../img/stocs/original.webp);
    background-size: cover;
    width: 602px;
    height: 451px;
}
.stocs__guarantee{
    background: url(../img/stocs/cover-1669947094.webp);
    background-size: cover;
    width: 602px;
    height: 947px;
}
/* .stocs__autopilot{
    margin-top: 45px;
    background: url(../img/stocs/4.png);
    width: 514px;
    height: 451px;
} */

.stocs__txt{
    margin-top: 378px;
    margin-left: 44px;

    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;

    transition: 1s;
}
.stocs__tittle{
    margin-bottom: 60px;
    color: #00040F;
}
.stocs__txt-big{
    margin-top: 870px;
}

.stocs__txt-inside{
    color: transparent;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 30px;
    margin-right: 45px;
}
.stocs__card:hover .stocs__txt{
    margin-top: 45px;
}

.stocs__card:hover{
    box-shadow: inset 0px -493px 30px rgba(0, 0, 0, 0.8);
}

.stocs__card:hover .stocs__txt-big{
    margin-top: 542px;
}
.stocs__card:hover .stocs__txt-inside{
    color: white
}
/* article */
.article__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article__tittle{
    color: #00040F;
    margin-bottom: 60px;
}
.article__txt{
    font-size: 25px;
    width: 80%;
    text-align: justify;

    margin-bottom: 40px;
}
.article__img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.info__second-button{
    font-family: 'font'; 
    margin-top: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;

    padding: 11px 28px;

    background: transparent;
    border: 1px solid #00040F;
    border-radius: 183px;
}


/* map */

.map{
    padding-top: 70px;
    padding-bottom: 60px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../img/map__bg.webp) 100% no-repeat;
    background-size: cover;
    
}
.map__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map__tittle{
    max-width: 757px;
    width: 100%;
}
.map__link{
    padding-top: 70px;
}
.map__txt{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

/* form */
.form{
    padding-top: 60px;
    background: url(../img/form__bg.jpg) no-repeat right center;
    background-size: 40%;
}
.form__tittle{
    font-family: 'font'; 

    font-size: 50px;
    line-height: 85px;

    margin-bottom: 60px;
    color: #00040F;
}
.form__form{
    display: flex;
    flex-direction: column;
    
}
.form__name{
    display: flex;
    justify-content: space-between;
}
.form__div{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
}
.label__name{
    font-family: 'font'; 

    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    margin-bottom: 10px;
}
.about{
    width: 652px;
    height: 100px;
    border: 1px solid #00040F;
    resize:none
}
.name{
    width: 320px;
    height: 63px;
    border: 1px solid #00040F;
}
.form__name{
    width: 651px;
}
.form__btn{
    width: 30%;

    margin-top: 30px;
    line-height: 30px;
    color: #000000;

    background: transparent;
    border: 1px solid #00040F;
    border-radius: 183px;

    font-family: 'font'; 
    font-size: 26px;
    
    padding: 15px 30px;
    border-radius: 183px;

    margin-bottom: 100px;
}

/* footer */

.footer__phone{
    border: 1px solid #00040F;
}
.footer__number{
    color: #00040F;
}



/* APEX-CCS-STYLE */
.apex-info{
    padding-top: 60px;
    padding-bottom: 40px;
}
.apex-promo{
    background: url(../img/apex-bg.webp) no-repeat 100%;
    background-size: cover;
}
/* apex-info */
.apex-info__container{
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    
}
.apex-info__tittle{
    font-family: 'font'; 
    color:#00040F;
    font-weight: bold;
    font-size: 45px;
}
.apex-info__txt{

    max-width: 533px;
    width: 100%;
    text-align: justify;
    margin-top: 50px;
    font-size: 30px;
    line-height: 46px;
    color:#00040F
}

.apex-info__sliders {
    position: relative;
}
.apex-slide {
    position: relative;
    width: 800px;
    height: 533px;
}
.apex-info__slider{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.apex-info__slider.target {
    visibility: visible;
    opacity: 1;
}
.apex-info__slide-btn{
    position: absolute;
    max-width: 100%;
    width: 100%;
    gap: calc(90px / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 55px;
    left: 0;
}
.circle{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent;
    transition: all 0.3s ease 0s;
}
.c_gray{
    background: url(../img/first-car-btn-colours/1.png);
}
.c_black{
    background: url(../img/first-car-btn-colours/2.png);
}
.c_yellow{
    background: url(../img/first-car-btn-colours/3.png);
}
.c_red{
    background: url(../img/first-car-btn-colours/4.png);
}
.c_white{
    background: url(../img/first-car-btn-colours/5.png);
}
.c_blue{
    background: url(../img/first-car-btn-colours/6.png);
}
.circle.target{
    border-color: #FFAC00;
}
/* apex-about */
.apex-about{
    padding-bottom: 30px;
}
.apex-about__info{
    flex-wrap: wrap;

    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #00040F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apex-about__img{
    border-radius: 230px;
    max-width: 600px;
    width: 100%;
}
.apex-about__txt{
    max-width: 738px;
    width: 100%;

    font-size: 25px;
    line-height: 40px;
    color: #00040F;
    text-align: justify;
}

/* apex-car-size */

.size__tittle{
padding-top: 40px;
}
.apex_car-size_info{
    background-color: #080400;
    padding-bottom: 500px;
}
.size_slider{
    max-height: 400px;
}
.size__slides{
    position: absolute;
    max-width: 1440px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.size__slides.target{
        visibility: visible;
        opacity: 1;
    
}
.apex_car-size_info__table{
    max-width: 550px;
    width: 100%;
    
}
.size__all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.size__txt{
    font-family: 'font'; 
    font-size: 25px;
    color: white;
}
.latters{
    font-family: 'Montserrat', sans-serif;
    color: #080400;
    padding: 5px 11px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 15px;
}
.latters_i{
    padding: 5px 15px;
}


.apex_car-size_info__image{
    max-width: 800px;
    width: 100%;
}

.b{
    margin-top: 30px;
    margin-bottom: 30px;
}

.e{
    margin-top: 30px;
}


.size__slides {
    flex-wrap: wrap;
}
.size-slide__links{
    padding-top: 25px;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.size-slide__link{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 60%;
    transition: 1s;
}
.size-slide__link:hover{
    opacity: 100%;
}
.size-slide__link.target{
    opacity: 100%;
    border-bottom: 2px solid #FFFFFF;
}
/* apex--price */
.apex-price{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../img/price__bg.webp) no-repeat center;
    background-size: cover;
}
.apex-price__container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

    padding-bottom: 160px;
}
.apex-price__tittle{
    text-align: left;
    margin-top: 80px;
    margin-bottom: 20px;
}
.apex-price__txt{
    color: white;
    font-size: 30px;
    line-height: 46px;
    max-width: 817px;
    width: 100%;
    margin-top: 20px;
}


/* apex-form */

.apex-form{
    background: url(../img/apex-form.png) no-repeat right center;
    background-size: 40%;
}




/* cyberzone */
.cyberzone_promo{
    background: url(../img/cyberrzone-bg.jfif) no-repeat center 65%;
    background-size: cover;
}
.cyberzone-price{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../img/price-cyber_bg.jfif) no-repeat center;
    background-size: cover;
}